body{
    background-color: rgb(143, 194, 248);
    /* background-image: url('../images/triangles15.png'); */
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    
}
.container{
    background-image: linear-gradient(to right,  rgb(53, 145, 127),white);
    height:580px;
    width:800px;
    border-radius: 5px;
    box-shadow: 5px 10px rgb(147, 151, 150) ;
    overflow: scroll;

}
.title{
    text-align: center;
    background-color: rgb(9, 73, 60);
    font-size: 20px;
    color:white;
    padding: 8px;
    width: 100%;
}
.form1 {
    padding-top: 10px;
    padding-left: 660px;
   
}
.form2{
    padding-top: 20px;
    padding-left: 50px;
    padding-bottom: 20px;
   

}

/* .form3{
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    background-color: rgb(208, 211, 24);

}
.form4{
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    background-color: rgb(42, 165, 65);
} */

#logout_btn{
    background-color: rgb(9, 73, 60);
    color:white;
    border-radius: 5px;
    box-shadow: 2px 3px rgb(14, 24, 21);
    width: 120px;
    
}
button{
    background-color: rgb(9, 73, 60);
    color:white;
    border-radius: 5px;
    box-shadow: 2px 3px rgb(20, 36, 31);
    width: 120px;
    height:35px;

    margin-bottom: 10px;
    
    
}
a{
    text-decoration: none;
    color:black;
}
input{
    width: 150px;
    margin-bottom: 20px;
}
iframe{
    height:150px;
    width: 200px;
    padding-left: 20px;
}